body {
  text-align: center;
  background: #fff4a4;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  margin-top: 10px;
  margin-left: 10px;
}

img {
  width: 600px;
  height: 600px;
}
p {
  text-align: center;
}
